/* 通用樣式 */
span .highlight-red,
span .highlight-green,
span .highlight-blue,
span .highlight-white {
    position: relative;
    display: inline-block;
    z-index: 2;
}

span .highlight-red::after,
span .highlight-green::after,
span .highlight-blue::after,
span .highlight-white::after {
    content: "";
    height: 30%;
    position: absolute;
    left: 0;
    margin-left: -1rem;
    top: 65%;
    width: 0;
    z-index: -1;
    transition: width 1.5s ease-in-out;
}

/* 紅色 highlight */
span .highlight-red::after {
    background-color: #ffdddd;
}
/* 綠色 highlight */
span .highlight-green::after {
    background-color: #e7ffe7;
}
/* 藍色 highlight */
span .highlight-blue::after {
    background-color: #ddeeff;
}
/* 白色 highlight */
span .highlight-white::after{
    background-color: #fff;
}

/* 動畫 */
span .highlight-red.active::after,
span .highlight-green.active::after,
span .highlight-blue.active::after,
span .highlight-white.active::after {
    width: 100%;
}

.hover_nav_btn{
    color: #3a3a3a;
}
.hover_nav_btn:hover{
    background: #fff!important;
    text-emphasis-color: currentColor;
}

.w3-light-grey {
    position: relative;
    z-index: 0; /* 背景層級 */
}

.hover_nav_btn {
    text-decoration: none;
    position: relative;    /*定位偽元素*/
    transition: color 0.5s ease-in-out;
}

/*滑動出現底線*/
.hover_nav_btn::after {
    content: "";
    position: absolute;
    left: 0;
    height: 30%;
    top: 50%;
    bottom: 0;
    width: 0;
    height: 20px; /*底線厚度*/
    background-color: #9e9e9e;
    opacity: 0.3;
    margin-left: 10%;
    transition: width 0.5s ease-in-out;
}

.hover_nav_btn:hover::after {
    width: 80%; /*底線展開*/
}

.hover_nav_btn_dropdown:hover{
    background-color: #F1F1F1 !important; 
}

.dropdown_hovered {
    background-color: #F1F1F1 !important;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 32px;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}
  

/* Announcement bar (正常流動) */
#announcement {
    width: 100%;
    line-height: 2rem;
    background-color: #fff;
    padding: 10px;
    color: #3a3a3a;
    text-align: center;
}

.banner{
    padding:110px 0px 0px 0px;
}

.bgimg1 {
    width: 100vw;
    /* height: 100vh; */
    object-fit: cover;  
}

.home-logo {
    height: 40px;           
    width: auto;
    max-width: 100%;
    object-fit: contain;
    display: block;
}

.w3-top{
    z-index: 3;
}

.liner{
    width: 90vw; /* 16*16 */
    max-width: 1080px;
    height: 48px; /* 16*3 */
    /* background-color: #F1F1F1; */
    background-image: url(../img/PG_line.png);
    background-size:  auto 100%;
    background-repeat: repeat;
    background-position: center;
    margin: 0 auto;
}

@media (min-width: 601px) {
    .home-logo{
        height: 50px;
    }    
    /* 確保nav內元素垂直置中 */
    .w3-bar {
        display: flex;
        align-items: center;    /* 垂直置中 */

        justify-content:space-between;
        padding: 0.5rem;        /* 增加內距 */
    }  
    .liner{
        height: 48px; /* 16*3 */
    }
    .banner{
        padding:130px 0px 0px 0px;
    }
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
    }
}

